.c-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.7);

    &__nombre{
        font-size: 2rem;
    }
    &__descripcion{
        font-size: 1rem;
        width: 300px;
    }
    &__duracion{
        height: 50px;
    }
    &__precio{
        font-size: 1rem;
    }

    &__button{
        width: 90px;
    }
}