.c-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:"Roboto";
    border: 1px solid lightgray;
    border-radius: 16px;
    box-shadow: 0px 3px 10px gray;

    &__imagen{
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }
    &__nombre{
        font-family: "Roboto";
        display:flex;
        width: 90%;
        justify-content: center;
        color:getColor("principal",3);
        margin-top: 15px;
        margin-bottom: 15px;
        padding-bottom: 15px;
        font-size: 25px;
        border-bottom: 1px solid getColor("grises",6);
    }

    &__duracion{
        height: 50px;
    }
    &__precio{
        font-size: 30px;
        color: getColor("principal",1);
        font-weight: lighter;
    }

    &__button{
        width: 90px;
    }
}