.c-button{
    background-color: getColor("principal",4);
    padding: 15px;
    border-radius: 10px;
    border: 0;
    font-family: "Roboto";
    color: white;
    font-weight: bold;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    cursor: pointer;

    &--secundario{
        background-color: getColor("blancos",4);
        color: getColor("principal",4);
        border: 1px solid getColor("principal",4);
    }

    &--terciario{
        background-color: transparent;
        color: getColor("principal",4);
        text-align: left;
        box-shadow: none;
        padding: 0;
    }

    &--alternativo{
        background-color: getColor("alternativo",4);

        &-secundario{
            background-color: getColor("blancos",4);
            color: getColor("alternativo",4);
            border: 1px solid getColor("alternativo",4);
        }

        &-terciario{
            background-color: white;
            color: getColor("alternativo",4);
            box-shadow: none;
        }
    }

    &--peligroso{
        background-color: getColor("rojos",4);

        &-secundario{
            background-color: getColor("blancos",4);
            color: getColor("rojos",4);
            border: 1px solid getColor("rojos",4);
        }

        &-terciario{
            background-color: white;
            color: getColor("rojos",4);
            box-shadow: none;
        }
    }

    &--eliminar{
        background-color: red;
    }

}