.c-button{
    background-color: getColor("principal",4);
    padding: 15px;
    border-radius: 10px;
    margin-top: 30px;
    border: 0;
    font-family: "Roboto";
    margin-bottom: 25px;
    color: white;
    font-weight: bold;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    &--alternativo{
        background-color: getColor("alternativo",3);
    }

    &--alternativo:hover {
        background-color: getColor("alternativo",3);
    }

    &--pagar{
        margin-top: 0;
        margin-bottom: 0;
        
        background-color: green;
        
    }

    &--eliminar{
        background-color: red;
    }
}

.c-button:hover {
    background-color: getColor("alternativo",3);
}

