.c-detail {
    border-radius: getBorderRadius(4);
    background-color: getColor("blancos", 7);
    font-size: getFontSize("XL");

    &__imagen {
        display: flex;
        align-content: center;
        align-items: center;
        margin-right: getMargin(7);
    }

    &__titulo {
        font-size: getFontSize("2XL");
        font-weight: bold;
    }

    &__precio {
        font-size: getFontSize("5XL");
        color: getColor("negros",8);
    }

    &__descripcion {
        border-color: getColor("alternativo", 3);
        width: 700px;
    }

    &__cantidad {
        width: 80px;
        height: 20px;
        border-color: getColor("principal", 3);

    }


    &__boton {
        background-color: getColor("principal", 4);
        margin: getMargin(0);
        width: 30px;
        height: 26px;
        border: 0;
        color: white;
        font-weight: bold;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

        &--restar {
            border-bottom-left-radius: getBorderRadius(4);
            border-top-left-radius: getBorderRadius(4);
            margin-left: getMargin(4);
        }

        &--sumar {
            border-bottom-right-radius: getBorderRadius(4);
            border-top-right-radius: getBorderRadius(4);
        }

    }
}