.c-detail {
    border-radius: getBorderRadius(4);
    background-color: getColor("azules", 7);
    font-size: getFontSize("XL");

    &__imagen{

    }

    &__titulo {
        font-size: getFontSize("2XL");
        font-weight: bold;
    }

    &__precio {
        font-size: getFontSize("5XL");
        color: black;
    }

    &__descripcion {
        border-color: getColor("alternativo", 3);
    }

    &__cantidad {
        width: 100px;
        border-color: getColor("alternativo", 3);

    }
}
