.c-footer{
    background-color: none;
    background: linear-gradient(to bottom, getColor("principal",3), getColor("principal",0));
    margin-top: getMargin(9);
    padding-top: getPadding(4);
    width: 100%;

    &__logo{
        height: 80px;
    }

    &__icons{
        width: 30px;
        margin-top: getMargin(5);
        margin-bottom: getMargin(5);
        cursor: pointer;
    }

    &__links{
        color: getColor("blancos",8);
        text-decoration: none;
        font-size: getFontSize("M");
    }

   
    &__bottom{
        text-align: center;
        margin-top: getMargin(6);
        background-color: getColor("negros",6);
        padding-top: getPadding(4);
    }

    &__copyright{
        font-size: getFontSize("S");
        color: getColor("blancos",8);
        margin-bottom: getMargin(1);
        opacity: 0.75;
    }
}
