.c-footer{
    font-family: "Roboto";
    display: flex;
    background-color: getColor("principal", 2);
    justify-content: flex-end;
    margin-top: getMargin(9);
    width: 100%;
    font-family: 'Roboto';



    &__logo{
        fill: getColor("blancos",8);
        display: flex;
        margin-left: getMargin(19);
        height: 80px;
    }

    &__content{
        display: flex;
        text-align: center;
        justify-content: space-evenly;
        font-size: getFontSize("M");
    }

    &__content-links{
        color: getColor("blancos",8);
        text-decoration: none; 
        margin-top: getMargin(7);

    }

    &__social{
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: getMargin(21);
        
    }

    &__social-icons{
        width: 30px;
        display: inline-block;
        margin: 0 9px;
        opacity: 0.80;
        margin-top: getMargin(5);
        margin-bottom: getMargin(5);
    }

    &__final{
        text-align: center;
        margin-top: getMargin(10);
        background-color: getColor("grises", 1);
        padding-top: getPadding(4);
    }

    &__final-copyright{
        font-size: getFontSize("S");
        color: getColor("blancos",8);
        margin-bottom: getMargin(1);
        opacity: 0.75;
    }
}
