.c-header{
    background-color: getColor("principal", 2);
    padding-left: getPadding(17);
    padding-right: getPadding(17);
    padding-bottom: getPadding(5);
    padding-top: 30px;
    height: 100px;
    outline-color: grey;
    font-family: "Roboto";


    &__logo{
        width: 200px;
    }    
    
    &__content{
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        border-radius: getBorderRadius(6);
    }

    &__search-input{
        margin-left: getMargin(15);
        margin-top: getMargin(5);
    }

    &__search-input-icon{
        width: 30px;
        height: 30px;
        opacity: 0.6;
        padding-left: 5px;
    }

    &__search{
        font-family: "Roboto";
        width: 280px;
        margin-right: 15px;
        height: 40px;
        border: 0;
        background-color: getColor("grises", 8);
    }

    &__search:focus{
        border-color: white;
        outline: none;
    }  
    
    &__icons{
        width: 35px;
    }

    &__class{
        font-family: "Roboto";
        background-color: getColor("grises",1);
        padding-top: getMargin(5);
        padding-bottom: getMargin(5);
    }

    &__btnCategory{
        width: 100%;
        font-family: "Roboto";
        background-color: transparent;
        border: 0;
        color: white;
        padding: 10px;
    }

    &__btnCategory:hover{
        background-color: white;
        border-radius: 10px;
        color: getColor("grises",1);
        
    }
}
