.c-header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: getGap(4);
    background: linear-gradient(to bottom, getColor("principal",3)60%, getColor("azules",0));    padding-left: getPadding(17);
    padding-right: getPadding(17);
    padding-top: getPadding(8);
    outline-color: getColor("grises",4);

    
    &__content{
        margin-left: getMargin(23);
        margin-right: getMargin(23);
        background-color: getColor("blancos",8);;
        border-radius: getBorderRadius(6);
    }

    &__search-icon{
        width: 30px;
        height: 30px;
        opacity: 0.6;
        padding-left: getPadding(2);
    }

    &__search{
        width: 280px;
        margin-right: getMargin(6);
        height: 40px;
        border: 0;
        background-color: getColor("grises", 8);
    }

    &__search:focus{
        border-color: getColor("blancos",8);
        outline: none;
    }  
    
    &__icons{
        width: 35px;
        cursor: pointer;
    }

    &__btnCategory{
        width: 100%;
        background-color: transparent;
        border: 0;
        color: getColor("blancos",8);
        padding: getPadding(4);
    }

    &__btnCategory:hover{
        background-color: getColor("blancos",8);
        border-radius: getBorderRadius(4);
        color: getColor("grises",1);
        
    }
}
