.c-pago {
    height: 520px;
    width: 550px;
    border: none;
    background-color: getColor("alternativo", 4);
    border-radius: getBorderRadius(5);
    color: #eee;
    font-size: getFontSize("M");
    display: flex;
    box-sizing: border-box;
    padding-left: getPadding(8);
    padding-right: getPadding(8);
    position: relative;

    &__input {
        background: rgba(255, 255, 255, 0.2);
        margin-bottom: getMargin(7);
        margin-top: getMargin(4);
        font-size: getFontSize("M");
        border: none;
        padding-top: getPadding(4);
        padding-right: getPadding(4);
        padding-bottom: getPadding(4);
        padding-left: getPadding(4);
        color: #fff;
        box-sizing: border-box;
        width: 100%;
    }
    &__input::placeholder {
        color: rgba(238, 238, 238, 0.568);
    }
    &__input:hover {
        background: rgba(255, 255, 255, 0.367);
    }
    &__titulo {
        font-size: getFontSize("3XL");
        padding-bottom: getPadding(4);
    }

    &__info {
        margin-top: getMargin(4);
        width: 100%;
    }
    &__boton {
        border: none;
        background: #22b877;
        line-height: 2em;
        border-radius: 10px;
        font-size: 19px;
        color: #fff;
        cursor: pointer;
        position: absolute;
        bottom: 25px;
        width: calc(100% - 50px);
    }
    &__boton:hover {
        background: #22a877;
        color: #eee;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
}
