.c-pago {
    height: 520px;
    width: 600px;
    border: none;
    background-color: getColor("blancos", 4);
    border-radius: getBorderRadius(5);
    color: black;
    font-size: getFontSize("M");
    display: flex;
    padding-left: getPadding(8);
    padding-right: getPadding(8);
    border:2px solid lightgrey;
    font-family: 'Roboto';

    &__input {
        background: rgba(255, 255, 255, 0.2);
        margin-bottom: getMargin(7);
        margin-top: getMargin(4);
        font-size: getFontSize("M");
        border: none;
        padding-top: getPadding(4);
        padding-right: getPadding(4);
        padding-bottom: getPadding(4);
        padding-left: getPadding(4);
        color: grey;
        box-sizing: border-box;
        width: 100%;
    }
    &__input::placeholder {
        color: grey;
    }
    &__input:hover {
        background: rgba(255, 255, 255, 0.367);
    }
    &__titulo {
        font-size: getFontSize("3XL");
        padding-bottom: getPadding(4);
    }

    &__info {
        margin-top: getMargin(4);
        width: 100%;
    }
    &__boton {
        border: none;
        
        line-height: 40px;
        border-radius: 10px;
        font-size: getFontSize("L");
        color: #fff;
        cursor: pointer;
        width: 45%;

        &--negativo{
            background: rgb(255, 54, 54);
        }
        &--positivo{
            background: #22b877;
        }
    }
    &__boton--positivo:hover {
        background: #22a877;
        color: #eee;
        transition: all 0.2s ease;
    }
    &__boton--negativo:hover {
        background: rgb(197, 2, 2);
        color: #eee;
        transition: all 0.2s ease;
    }
}
