.c-pago {
    height: 520px;
    width: 600px;
    border: none;
    background-color: getColor("blancos", 4);
    border-radius: getBorderRadius(5);
    color: getColor("negros",8);
    font-size: getFontSize("M");
    display: flex;
    padding-left: getPadding(8);
    padding-right: getPadding(8);

    &__input {
        border-color: getColor("principal",3);
        border-radius: getBorderRadius(2);
        margin-bottom: getMargin(7);
        margin-top: getMargin(4);
        font-size: getFontSize("M");

        padding: getPadding(4);

        color: getColor("grises",0);
        box-sizing: border-box;
        width: 100%;
        background-color: getColor("blancos",5);
    }
    &__input::placeholder {
        color: getColor("grises",3);
        
    }
    &__input:hover {
        background: getColor("blancos",8);
    }
    &__input:focus{
        background: getColor("blancos",8);
    }
    &__titulo {
        font-size: getFontSize("3XL");
        padding-bottom: getPadding(4);
        color:getColor("principal",2);
    }

    &__boton {
        border: none;
        line-height: 40px;
        border-radius: getBorderRadius(4);
        font-size: getFontSize("L");
        color: getColor("blancos",8);
        cursor: pointer;
        width: 45%;

        &--negativo{
            background: getColor("rojos",4);
        }
        &--positivo{
            background: getColor("alternativo",3);
        }
    }
    
    &__boton--positivo:hover {
        background: getColor("alternativo",1);
        color: getColor("grises",6);
        transition: all 0.2s ease;
    }
    &__boton--negativo:hover {
        background: getColor("rojos",2);
        color: getColor("grises",6);
        transition: all 0.2s ease;
    }
}
