$colors:(
  "principal":(#0C2F45, #154B75, #1C63A0, #2578D0, #498CDF, #79A5E7, #A4BFEF, #D4DFF7, #FFFFFF),
  "alternativo":(#025A14, #0E812B, #1FA846, #2FCA63, #58D586, #7FE1A8, #A9EFC8, #D1FAE6, #FFFFFF),
  "grises":(#292929, #454545, #5E5E5E, #7A7A7A, #949494, #B0B0B0, #C9C9C9, #E6E6E6, #FFFFFF),
  "blancos":(#EBEBEB, #EDEDED, #F0F0F0, #F2F2F2, #F5F5F5, #F7F7F7, #FAFAFA, #FCFCFC, #FFFFFF),
  "rojos":(#811D1D, #981B1B, #BA1C1C, #DC2828, #EF4343, #F87272, #FCA6A6, #FEC8C8, #FEE1E1),
  "azules":(#033863, #054C94, #0860C4, #0B6CF4, #3C83F6, #6D9BF8, #9DB9FB, #CEDAFD, #FFFFFF),
  "verdes":(#01190D, #044427, #076940, #0C9261, #10B77F, #12E2A7, #2DF0C0, #55F6D6, #79FCE6),
  "amarillos":(#76350F, #91400D, #B35309, #DB7706, #F59F0A, #FBBD23, #FCD44F, #FDE68B, #FEF3C8),
  "negros":(#5e7a7e, #526b6e, #475c5f, #3b4c4f, #2f3d3f, #232e2f, #181f20, #0c0f10, #000000)
  );


$margin-values:(0px,4px,6px, 8px, 10px, 12px, 16px,20px, 24px, 32px, 40px,48px,64px, 80px, 96px,128px,160px, 192px,224px,256px,320px,480px,640px,auto);
$padding-values:(0px,4px,6px, 8px, 10px, 12px, 16px,20px, 24px, 32px, 40px,48px,64px, 80px, 96px,128px,160px, 192px,224px,256px,320px,480px,640px);
$gap-values:(0px,4px,6px, 8px, 10px, 12px, 16px,20px, 24px, 32px, 40px,48px,64px, 80px, 96px,128px,160px, 192px,224px,256px,320px,480px,640px);

$fontSizes:(
  "2XS":8px,
  "XS":12px,
  "S":14px, 
  "M":16px, 
  "L":18px, 
  "XL":20px, 
  "2XL":24px, 
  "3XL":30px, 
  "4XL":36px, 
  "5XL":48px, 
  "6XL":64px);

$borderRadius:(0px,2px,4px,6px,8px,16px,20px);

$profundidades:("0 1px 3px gray", "0 4px 6px gray","0 5px 15px gray","0 10px 24px gray","0 15px 35px gray");