$colors:(
  "principal":(#190701, #501902, #8D3002, #C54D02, #FC6B03, #FD953A, #FDBA77, #FDDAAF, #FEF4E6),
  "alternativo":(#023A46, #04617B, #0786B0, #0BA0E0, #2EB3F5, #63BFF8, #98D2FB, #C9E5FD, #FFFFFF),
  "grises":(#292929, #454545, #5E5E5E, #7A7A7A, #949494, #B0B0B0, #C9C9C9, #E6E6E6, #FFFFFF),
  "blancos":(#EBEBEB, #EDEDED, #F0F0F0, #F2F2F2, #F5F5F5, #F7F7F7, #FAFAFA, #FCFCFC, #FFFFFF),
  "rojos":(#811D1D, #981B1B, #BA1C1C, #DC2828, #EF4343, #F87272, #FCA6A6, #FEC8C8, #FEE1E1),
  "azules":(#033863, #054C94, #0860C4, #0B6CF4, #3C83F6, #6D9BF8, #9DB9FB, #CEDAFD, #FFFFFF),
  "verdes":(#01190D, #044427, #076940, #0C9261, #10B77F, #12E2A7, #2DF0C0, #55F6D6, #79FCE6),
  "amarillos":(#76350F, #91400D, #B35309, #DB7706, #F59F0A, #FBBD23, #FCD44F, #FDE68B, #FEF3C8)
  );

$margin-values:(0px,4px,6px, 8px, 10px, 12px, 16px,20px, 24px, 32px, 40px,48px,64px, 80px, 96px,128px,160px, 192px,224px,256px,320px,480px,640px);
$padding-values:(0px,4px,6px, 8px, 10px, 12px, 16px,20px, 24px, 32px, 40px,48px,64px, 80px, 96px,128px,160px, 192px,224px,256px,320px,480px,640px);
$gap-values:(0px,4px,6px, 8px, 10px, 12px, 16px,20px, 24px, 32px, 40px,48px,64px, 80px, 96px,128px,160px, 192px,224px,256px,320px,480px,640px);

$fontSizes:(
  "2XS":8px,
  "XS":12px,
  "S":14px, 
  "M":16px, 
  "L":18px, 
  "XL":20px, 
  "2XL":24px, 
  "3XL":30px, 
  "4XL":36px, 
  "5XL":48px, 
  "6XL":64px);

$borderRadius:(0px,2px,4px,6px,8px,16px);

$profundidades:("0 1px 3px hsla(0,0%,.2)", "0 4px 6px hsla(0,0%,.2)","0 5px 15px hsla(0,0%,.2)","0 10px 24px hsla(0,0%,.2)","0 15px 35px hsla(0,0%,.2)");