@each $index in getPaddingKeys(){
  
  $value:getPadding($index);

    .g--padding-#{$index}{
      padding:$value;
    }
    .g--padding-left-#{$index}{
      padding-left:$value;
    }
    .g--padding-right-#{$index}{
      padding-right:$value;
    }
    .g--padding-top-#{$index}{
      padding-top:$value;
    }
    .g--padding-bottom-#{$index}{
      padding-bottom:$value;
    }
    .g--padding-vertical-#{$index}{
      padding-bottom: $value;
      padding-top: $value;
    }
    .g--padding-horizonal-#{$index}{
      padding-left: $value; 
      padding-right:$value;
    }
  }