@font-face {
    font-family: "Roboto";
    src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
  }

.seleccion{
  font-family: "Roboto";
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  color: getColor("principal", 2);
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 1px grey;
  padding-left: 40px;
  padding-right: 40px;
  border-bottom: solid 1px getColor("principal",1);

}